<!-- Write HTML code here -->
<!DOCTYPE html> 
<html lang="en"> 
<head> 
<title>TableView - Startup</title> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
</head> 
<body> 

<div class="container"> 
<h2 class="text-center"><u>Bhavcopy Table</u></h2><br>			 
<table class="table table-dark table-striped"> 
    <form class="input-form text-center" name = "form"  method = "POST"  action="http://127.0.0.1:8000/to/">
        {% csrf_token %}
        <input type="text" name="data" placeholder="Search by name">
    </form>
	<thead> 
	<tr> 
		<th>SC_CODE</th> 
		<th>SC_NAME</th> 
		<th>OPEN</th> 
		<th>HIGH</th> 
		<th>LOW</th> 
        <th>CLOSE</th> 
	</tr> 
	</thead> 
	<tbody> 
	<!-- jinja2 Technique -->
	{% if d %} 
	{% for i in d %} 
	<tr> 
        <td>{{i.SC_CODE}}</td>
		<td>{{i.SC_NAME}}</td> 
		<td>{{i.OPEN}}</td> 
		<td>{{i.HIGH}}</td> 
		<td>{{i.LOW}}</td> 
		<td>{{i.CLOSE}}</td> 
	</tr> 
  
	{% endfor %}
    
	{% endif %} 
   
      
	</tbody>
  
</table>


</div> 

</body> 
</html> 
